name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["main"]}
jobs:
  metrics:
    runs-on: ubuntu-latest
    environment:
      name: prod
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@v3.34
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          config_timezone: ${{ secrets.USER_TIMEZONE }}

          filename: metrics.svg
          template: classic
          base: header, repositories, activity, community
          config_order: base.header, base.repositories, base.activity+community, languages

          plugin_followup: no
          plugin_languages: yes
          
          repositories_skipped: tpwo.github.io
          plugin_languages_ignored: >-
            html, css, dockerfile, makefile, justfile
